.main {
  margin: 50px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      gap: 35px;
      cursor: pointer;
    }
  }
  &-section {
    display: flex;
    &-article {
      display: flex;
      flex-direction: column;
      img {
        max-width: 100%;
        height: auto;
      }
      &-content {
        display: flex;
        gap: 100px;
      }
    }
  }
}
