.main {
  margin: 50px 165px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6vh;
    ul {
      display: flex;
      gap: 35px;
      cursor: pointer;
      li {
        color: #5d5f79;
        &:hover {
          transition: color 0.2s ease-in;
          color: #f15d51;
        }
      }
    }
  }
  &-section {
    display: flex;
    gap: 50px;
    margin-bottom: 7vh;
    &-article {
      display: flex;
      flex-direction: column;
      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 3rem;
      }
      &-content {
        display: flex;
        gap: 100px;
        h1 {
          font-size: clamp(40px, 4vw + 1rem, 56px);
        }
        &-text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1.875rem;
          p {
            font-size: 0.875rem;
            line-height: 1.625rem;
            font-weight: 400;
            color: #5d5f79;
          }
          button {
            text-transform: uppercase;
            color: #fff;
            background-color: #f15d51;
            padding: 1rem 2rem;
            letter-spacing: 0.3rem;
            outline: none;
            cursor: pointer;
            border: none;
            font-size: 14px;
            &:hover {
              background-color: #00001a;
              transition: background-color 0.3s linear;
            }
          }
        }
      }
    }
    &-aside {
      background-color: #00001a;
      padding: 2rem 1.5rem;
      width: 65%;
      h1 {
        color: #e4ac62;
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 2.2rem;
      }
      &-news {
        &:not(:last-child) {
          margin-bottom: 2rem;
          padding-bottom: 2rem;
          border-bottom: solid 1px rgb(255, 255, 255, 0.7);
        }
        h3 {
          color: #fff;
          font-size: 20px;
          margin-bottom: 1rem;
          cursor: pointer;
          &:hover {
            transition: color 0.2s linear;
            color: #e4ac62;
          }
        }
        p {
          color: #fff;
          font-size: 14px;
          opacity: 0.7;
        }
      }
    }
  }
  &-bottom {
    display: flex;
    gap: 5rem;
    img {
      margin-right: 30px;
      width: 100%;
    }
    &-news {
      display: flex;
      h1 {
        font-size: 2rem;
        font-weight: 900;
        color: #c5c6ce;
        margin-bottom: 20px;
      }
      h3 {
        font-weight: 900;
        font-size: 1.125rem;
        cursor: pointer;
        margin-bottom: 10px;
        &:hover {
          transition: color 0.2s linear;
          color: #f15d51;
        }
      }
      p {
        font-size: 0.875rem;
        line-height: 1.625rem;
        color: #5d5f79;
      }
    }
  }
}
