@media screen and (max-width: 768px) {
  .main {
    margin: 10px 30px;
    .header {
      &-nav {
        &-ul {
          display: none;
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          row-gap: 1.5rem;
          padding: 7rem 1.5rem 1.5rem;
          width: 16rem;
          color: #000;
          font-size: 18px;
          background-color: #fff;
          flex-direction: column;
          box-shadow: -110px -2px 50px 50px rgb(0 0 0 / 50%);
        }
        &-burger {
          display: block;
          &-close {
            z-index: 1;
            position: fixed;
            top: 2vh;
            right: 9vw;
          }
        }
      }
    }
    &-section {
      flex-direction: column;
      &-article {
        flex-direction: column;
        &-content {
          gap: 1vh;
          flex-direction: column;
        }
      }
      &-aside {
        width: 100%;
      }
    }
    &-bottom {
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 8vh;
      img {
        width: 40%;
      }
    }
  }
}
